<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment Start:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Appointment End:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Physician:</strong>
  <%= @appointment.physician_id %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
